---
import { Picture } from "astro:assets";
import AboutImage from "../assets/about.png";
---

<section class="about" id="about">
    <div class="about__shapes">
        <div class="about__shape about__shape--top"></div>
        <div class="about__shape about__shape--circle"></div>
        <div class="about__shape about__shape--bottom"></div>
    </div>

    <div class="about__content">
        <div class="about__container container">
            <Picture
                src={AboutImage}
                alt="imagen de la sección nosotros"
                width={434}
                height={575}
                formats={["avif", "webp"]}
                class="about__image"
            />

            <div class="about__text-container">
                <h2 class="about__title">¡Hola!</h2>

                <p class="about__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Deleniti totam adipisci dicta ullam dolorum id illum
                    tenetur, impedit laboriosam, sunt nam? Vitae facilis aperiam
                    minus quaerat tempora, magni vero accusamus?
                </p>

                <p class="about__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quidem eveniet nihil iusto veniam voluptates aliquam
                    reprehenderit voluptatibus aspernatur illum ratione ad
                    molestiae nobis, repellat, sint, vitae fuga deserunt
                    praesentium. Fuga.
                </p>
            </div>
        </div>
    </div>
</section>

<style>
    .about {
        display: flex;
        position: relative;
        min-height: 50rem;
        overflow: hidden;
    }

    @media (width >= 768px){
        .about {
            min-height: 40rem;
        }
    }

    .about__shape {
        position: absolute;
        z-index: 1;
    }

    .about__shape--top {
        top: -5rem;
        left: -5rem;
        width: 20rem;
        height: 15rem;
        background-color: var(--color-primary-600);
        border-radius: 0 0 50% 0;
    }

    @media (width >= 768px) {
        .about__shape--top {
            width: 35rem;
            height: 20rem;
        }
    }

    .about__shape--circle {
        top: 50%;
        left: 25%;
        transform: translateY(-50%);
        width: 10rem;
        height: 10rem;
        background-color: var(--color-gray-dark);
        border-radius: 50%;
    }

    @media (width >= 768px){
        .about__shape--circle {
            width: 15rem;
            height: 15rem;
        }
    }

    .about__shape--bottom {
        bottom: 0;
        right: 0;
        width: 30rem;
        height: 10rem;
        background-color: var(--color-primary-600);
        border-radius: 100% 0 0 0;
    }

    @media (width >= 768px){
        .about__shape--bottom {
            width: 50rem;
            height: 15rem;
        }
    }

    .about__content {
        position: relative;
        flex: 1;
        z-index: 2;
        background-color: rgb(255, 255, 255, 0.5);
    }

    .about__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    @media (width >= 768px){
        .about__container {
            flex-direction: row;
            justify-content: space-between;
            gap: 2rem;
        }
    }

    .about__image {
        aspect-ratio: 1/1;
        max-width: 30rem;
        width: 100%;
        min-width: 20rem;
        height: auto;
        transform: translateX(10rem) translateY(5rem);
        margin-top: -7rem;
        margin-bottom: -0.5rem;
    }

    @media (width >= 480px){
        .about__image {
            max-width: 40rem;
        }
    }

    @media (width >= 768px){
        .about__image {
            max-width: 35rem;
            transform: translateX(-2rem) translateY(10rem);
        }
    }

    .about__text-container {
        flex: 1;
    }
</style>
