---
import { Picture } from "astro:assets";
import Hero from "../assets/hero.png";
---

<header class="header">
    <Picture
        class="header__hero"
        src={Hero}
        alt="Hero image"
        width={1200}
        height={600}
        formats={["avif", "webp", "jpg"]}
    />

    <div class="header__content">
        <div class="header__container container">
            <div class="header__nav-container">
                <p class="header__logo">
                    Free<span class="header__logo--lighting">lancing</span>
                </p>

                <nav class="header__nav">
                    <a class="header__nav-link" href="/"> Inicio </a>
                    <a class="header__nav-link" href="/about"> Sobre Mi </a>
                    <a class="header__nav-link" href="/blog"> Blog </a>
                    <a class="header__nav-link" href="/contact"> Contacto </a>
                </nav>
            </div>

            <div class="header__info">
                <h1 class="header__name">Diego Meneses Pérez</h1>

                <p class="header__description">
                    Desarrollador Web Full Stack & El Amor de tu Vida
                </p>
            </div>
        </div>
    </div>
</header>

<style>
    .header {
        min-height: 40rem;
        position: relative;
        overflow: hidden;
        display: flex;
    }

    .header__hero {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        z-index: 1;
        object-fit: cover;
        object-position: center;
    }

    .header__content {
        position: relative;
        flex: 1;
        z-index: 2;
        display: flex;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .header__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 4rem;
        padding-top: 4rem;
        gap: 6rem;
    }

    .header__nav-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    @media (width >= 768px) {
        .header__nav-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .header__logo {
        font-size: 4rem;
        color: var(--color-white);
        font-weight: bold;
        text-align: center;
    }

    .header__logo--lighting {
        color: var(--color-primary-300);
        font-weight: normal;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
    }

    @media (width >= 768px) {
        .header__nav {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }

    .header__nav-link {
        text-decoration: none;
        color: var(--color-white);
        font-size: 2.2rem;
        font-weight: 600;
        text-align: center;
        transition: color 0.3s ease-in-out;
        padding: 0.5rem 1rem;
    }

    .header__nav-link:hover {
        color: var(--color-primary-300);
    }

    .header__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 768px) {
        .header__info {
            align-items: flex-start;
        }
    }

    .header__name {
        color: var(--color-white);
        font-size: 4rem;
        text-align: center;
        margin: 0;
        margin-bottom: 1rem;
    }

    @media (width >= 768px) {
        .header__name {
            font-size: 5rem;
            text-align: left;
        }
    }

    .header__description {
        color: var(--color-white);
        font-size: 2rem;
        text-align: center;
        background-color: var(--color-primary-700);
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: 0.2rem solid var(--color-primary-950);
        display: inline-block;
        margin: 0;
    }

    @media (width >= 768px) {
        .header__description {
            font-size: 2.4rem;
        }
    }
</style>
